# ======================================================
# Site meta data
# ======================================================
SITE_URL="https://kaave.github.io"
SITE_TITLE="Gatsby TypeScript @kaave Starter"
SITE_DESCRIPTION="Gatsby TypeScript @kaave Starter Kit"
SITE_OGP="https://kaave.github.io/dummy.png"
SITE_DESCRIPTION_TEMPLATE="「{0}」についての記事です。"

# ======================================================
# Author info
# ======================================================
AUTHOR_NAME="kaave"
AUTHOR_TWITTER="@junkjunctions"
AUTHOR_GITHUB="kaave"

# ======================================================
# Accounts
# ======================================================
GOOGLE_ANALYTICS=""
CONTENTFUL_SPACE_ID=""
CONTENTFUL_ACCESS_TOKEN=""
