@use "variables/color";
@use "variables/ease";
@use "variables/font";
@use "variables/layout";
@use "mixins";

.inner {
    max-width: layout.$inner;
    padding: #{layout.$gutter * 8} #{layout.$gutter * 2};
    margin: auto;

    @include mixins.sp {
        padding: #{layout.$gutter * 3} #{layout.$gutter * 2};
    }
}

.desc {
    margin: #{layout.$gutter * 3} 0 #{layout.$gutter * 6};
}
