@use "variables/color";
@use "variables/ease";

.root {
    position: relative;
    display: inline-block;
    color: currentColor;
    transition: color 400ms ease.$outExpo;
}

.root:hover {
    color: #1da1f2;
}

.root > svg {
    fill: currentColor;
}
