@use "variables/color";
@use "variables/font";
@use "variables/layout";
@use "mixins";

.inner {
    max-width: layout.$inner;
    padding: #{layout.$gutter * 8} #{layout.$gutter * 2};
    margin: auto;

    @include mixins.sp {
        padding: #{layout.$gutter * 5} #{layout.$gutter * 2};
    }
}
