@use "variables/color";
@use "variables/ease";
@use "variables/font";
@use "variables/layout";
@use "mixins";

.section {
    width: 100%;

    & + & {
        border-top: 1px solid #{color.$whiteDark};
    }
}

.inner {
    max-width: 1200px;
    padding: #{layout.$gutter * 8} #{layout.$gutter * 5};
    margin: auto;

    @include mixins.sp {
        padding: #{layout.$gutter * 5} #{layout.$gutter * 3};
    }
}

:global .-first-view {
    :local .inner {
        padding-top: layout.$gutter * 30;
        padding-bottom: layout.$gutter * 30;

        @include mixins.sp {
            padding-top: layout.$gutter * 20;
            padding-bottom: layout.$gutter * 20;
        }
    }
}

.typographyWrapper {
    position: relative;
    overflow: hidden;
}

.typographyWrapper > svg {
    display: block;
}

.typographyLinesContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    user-select: none;
}

.typographyLine {
    position: relative;
    display: block;
    flex: 1 1 auto;
}

.typographyLine::before,
.typographyLine::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
}

.typographyLine::before {
    z-index: 1;
    background: color.$whiteGray;
    transition: transform 1000ms ease.$outExpo;
}

.typographyLine::after {
    z-index: 0;
    background: color.$whiteLight;
    transition: transform 1000ms 500ms ease.$outExpo;
}

.typographyLine:nth-child(even)::before,
.typographyLine:nth-child(even)::after {
    transform: translate3d(100%, 0, 0);
}

.typographyLine:nth-child(odd)::before,
.typographyLine:nth-child(odd)::after {
    transform: translate3d(-100%, 0, 0);
}

.typographyLinesContainer[hidden] .typographyLine::before,
.typographyLinesContainer[hidden] .typographyLine::after {
    transform: none;
}

.postContainer {
    display: block;
    padding-top: layout.$gutter * 7;

    @include mixins.sp {
        padding-top: layout.$gutter * 3;
    }
}

.post {
    display: block;
    width: 100%;
    max-width: layout.$gutter * 45;
    margin: auto;
    color: currentColor;
    text-decoration: none;
}

.postThumbnailWrapper {
    overflow: hidden;
}

.postThumbnail {
    display: block;
    transition: transform 600ms ease.$outExpo;
}

.post:hover .postThumbnail {
    transform: scale3d(1.1, 1.1, 1);
}

.postDate {
    display: block;
    margin: #{layout.$gutter * 2} auto #{layout.$gutter};
}

.postTitle {
    background-image: linear-gradient(to right, currentColor 50%, transparent 50%);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 200% 1px;
    transition: background-position 600ms ease.$outExpo;
}

.post:hover .postTitle {
    background-position-x: 0;
}

.contentsList {
    padding: #{layout.$gutter * 3} 0;
    font-size: font.$sizeXL;

    @include mixins.sp {
        font-size: font.$sizeM;
    }
}

.contentsList:empty {
    display: none;
}

.contentsCell {
    margin: #{layout.$gutter} 0;
}

.contentsLink {
    color: currentColor;
    text-decoration: none;
}

.contentsTitle {
    display: inline-block;
    width: layout.$gutter * 12;

    @include mixins.sp {
        width: layout.$gutter * 8;
    }
}

.contentsDescription {
    display: inline-block;
    background-image: linear-gradient(to right, currentColor 50%, transparent 50%);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 200% 1px;
    transition: background-position 600ms ease.$outExpo;
}

.contentsLink:hover .contentsDescription {
    background-position-x: 0;
}
