.Inner {
    display: grid;
    grid-template:
        "GlobalHeader" 40px
        "GlobalMain" 1fr
        "GlobalFooter" 40px /
        100vw;
    height: 100%;
}

.Header {
    grid-area: GlobalHeader;
}

.Main {
    grid-area: GlobalMain;
    -webkit-overflow-scrolling: touch;
    overflow: hidden auto;
}

.Footer {
    grid-area: GlobalFooter;
}

/*
 * page change animation
 */
:global .page-transition-enter {
    :local .Main {
        opacity: 0;
        transform: scale3d(0.95, 0.95, 1);
    }
}

:global .page-transition-enter-active {
    :local .Main {
        opacity: 1;
        transition: all 300ms;
        transform: none;
    }
}

:global .page-transition-exit {
    :local .Main {
        opacity: 1;
        transform: none;
    }
}

:global .page-transition-exit-active {
    :local .Main {
        opacity: 0;
        transition: all 300ms;
        transform: scale3d(0.95, 0.95, 1);
    }
}
